body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

#qrcode {
    margin: 20px auto;
    width: 256px;
    height: 256px;
    align-items:baseline;
}
